<a href="https://colab.research.google.com/github/LanIkari/Adquisicion_De_Datos/blob/main/pandas_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Leer dataset 

import pandas as pd
#https://github.com/omarmendoza564/datos/blob/main/datos/casoscovid20201101.csv

In [ ]:
#Data frame. Leeremos el documento con la libreria pandas 
df= pd.read_csv('https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/casoscovid20201101.csv')
df.columns

Index(['ORIGEN', 'SEXO', 'ENTIDAD', 'FECHA_INGRESO', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'DIABETES', 'EPOC', 'ASMA',
       'INMUSUPR', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'RESULTADO_LAB', 'CLASIFICACION_FINAL'],
      dtype='object')

In [ ]:
df.

In [ ]:
df.head()

In [ ]:
df.describe()

,ORIGEN,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,1.535000,74.665000,11.030000,42.555000,49.490000,2.355000,2.455000,2.460000,2.460000,2.29500,2.465000,1.830000,2.465000,2.395000,19.995000,4.435000
std,0.500025,40.495087,28.575899,18.961929,47.659701,6.805184,6.791805,6.791097,6.791097,6.81249,6.790384,0.376575,6.790384,6.800013,37.999405,1.735174
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,1.000000,97.000000,2.000000,29.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000
50%,2.000000,97.000000,2.000000,41.000000,49.500000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000
75%,2.000000,97.000000,2.000000,55.000000,97.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000
max,2.000000,99.000000,99.000000,86.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,2.000000,98.000000,98.000000,97.000000,7.000000

In [ ]:
#Solo traera la informacion que corresponde al campo EDAD 
df.EDAD.describe()

In [ ]:
#Nos dice cuantos renglones y cuantos elementos tenemos en df
df.shape

(200, 20)

In [ ]:
df.EDAD
edad=df.EDAD 
edad.dypes 
edad[9]
edad[9:20]

0      68
1      33
2      52
3      48
4      43
       ..
195    27
196    28
197    30
198    53
199    41
Name: EDAD, Length: 200, dtype: int64

In [ ]:
df[9:20]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
9,2,MUJER,San Luis Potosí,2020-06-13 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
10,2,HOMBRE,Tabasco,2020-05-25 00:00:00,97,2,45,MEXICANA,97,2,2,2,2,2,2,1,2,2,1,3
11,1,MUJER,Jalisco,2020-02-18 00:00:00,97,99,13,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
12,2,MUJER,Baja California,2020-05-25 00:00:00,97,2,42,MEXICANA,2,2,2,2,2,2,1,2,2,2,1,3
13,2,MUJER,Estado de México,2020-05-20 00:00:00,97,2,30,MEXICANA,2,2,2,1,2,2,2,2,2,2,1,3
14,1,HOMBRE,Querétaro,2020-02-18 00:00:00,97,2,59,MEXICANA,97,2,2,2,2,1,2,1,2,2,2,7
15,1,HOMBRE,Jalisco,2020-02-10 00:00:00,2,1,58,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
16,2,HOMBRE,Veracruz,2020-03-27 00:00:00,97,2,28,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
17,2,HOMBRE,Sinaloa,2020-03-20 00:00:00,97,2,74,MEXICANA,97,1,2,2,2,1,2,1,2,2,2,7
18,2,HOMBRE,Ciudad de México,2020-06-29 00:00:00,97,2,63,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
19,2,HOMBRE,Durango,2020-03-13 00:00:00,97,2,65,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6

In [ ]:
df.iloc[11]

ORIGEN                                   1
SEXO                                 MUJER
ENTIDAD                            Jalisco
FECHA_INGRESO          2020-02-18 00:00:00
INTUBADO                                97
NEUMONIA                                99
EDAD                                    13
NACIONALIDAD                      MEXICANA
EMBARAZO                                 2
DIABETES                                 2
EPOC                                     2
ASMA                                     2
INMUSUPR                                 2
HIPERTENSION                             2
CARDIOVASCULAR                           2
OBESIDAD                                 2
RENAL_CRONICA                            2
TABAQUISMO                               2
RESULTADO_LAB                           97
CLASIFICACION_FINAL                      6
Name: 11, dtype: object

In [ ]:
#Visualizamos el parametro y varlo de una columna
df.iloc[9]

ORIGEN                                   2
SEXO                                 MUJER
ENTIDAD                    San Luis Potosí
FECHA_INGRESO          2020-06-13 00:00:00
INTUBADO                                97
NEUMONIA                                 2
EDAD                                    33
NACIONALIDAD                      MEXICANA
EMBARAZO                                 2
DIABETES                                 2
EPOC                                     2
ASMA                                     2
INMUSUPR                                 2
HIPERTENSION                             2
CARDIOVASCULAR                           2
OBESIDAD                                 2
RENAL_CRONICA                            2
TABAQUISMO                               2
RESULTADO_LAB                            1
CLASIFICACION_FINAL                      3
Name: 9, dtype: object

In [ ]:
#Conjunto de renglones que deseo mostra. Comezamndo desde que empieza la clse. 
df.iloc[[1,6,8]]

In [ ]:
#Ver las columnas 1 al 4 de todos los renglones del df
df.iloc[2, 1:5]
#Renglones colomnas

SEXO                           MUJER
ENTIDAD                    Zacatecas
FECHA_INGRESO    2020-01-05 00:00:00
INTUBADO                           2
Name: 2, dtype: object

In [ ]:
#Ver las columnas 1 al 4 de los renglones 10 al 15 del df 
df.iloc[9:15, 1:5]

      SEXO           ENTIDAD        FECHA_INGRESO  INTUBADO
9    MUJER   San Luis Potosí  2020-06-13 00:00:00        97
10  HOMBRE           Tabasco  2020-05-25 00:00:00        97
11   MUJER           Jalisco  2020-02-18 00:00:00        97
12   MUJER   Baja California  2020-05-25 00:00:00        97
13   MUJER  Estado de México  2020-05-20 00:00:00        97
14  HOMBRE         Querétaro  2020-02-18 00:00:00        97

In [ ]:
#Ver las columnas 1,2 y 7 de los renglones 10, 14 y 23 del df
df.iloc[[9,13, 22], [0,1,6]]

    ORIGEN    SEXO  EDAD
9        2   MUJER    33
13       2   MUJER    30
22       2  HOMBRE    49

In [ ]:
#Ver las columnas de sexo a nacionalidad de todos los registros
df.loc[:,"SEXO": "NACIONALIDAD"]

,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD
0,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA
1,MUJER,Ciudad de México,2020-05-23 00:00:00,97,2,33,MEXICANA
2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA
3,HOMBRE,Guanajuato,2020-06-24 00:00:00,97,2,48,MEXICANA
4,HOMBRE,Ciudad de México,2020-06-08 00:00:00,97,2,43,MEXICANA
...,...,...,...,...,...,...,...
195,HOMBRE,Veracruz,2020-01-28 00:00:00,97,99,27,MEXICANA
196,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA
197,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA
198,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA
199,HOMBRE,Sinaloa,2020-05-27 00:00:00,97,2,41,MEXICANA

In [ ]:
#Ver las columnas de edad, sexo, y nacionalidad de los renglones 4,14,19 
df.loc[[4,14,19], ["EDAD","SEXO", "NACIONALIDAD"]]

    EDAD    SEXO NACIONALIDAD
4     43  HOMBRE     MEXICANA
14    59  HOMBRE     MEXICANA
19    65  HOMBRE     MEXICANA

In [ ]:
#Ver las columnas de nacionalidad en adelante  de los renglones 5,15,20 
df.loc[[4,14,19], "NACIONALIDAD":]

,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
4,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
14,MEXICANA,97,2,2,2,2,1,2,1,2,2,2,7
19,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6

In [ ]:
#Ver las columnas de edad, sexo, y nacionalidad de los renglones 4,14,19 
df.loc[[4,14,19], ["EDAD","SEXO", "NACIONALIDAD"]]

    EDAD    SEXO NACIONALIDAD
4     43  HOMBRE     MEXICANA
14    59  HOMBRE     MEXICANA
19    65  HOMBRE     MEXICANA

In [ ]:
#Ver las columnas de edad, sexo, y nacionalidad de los renglones 4,14,19 
df.loc[[4,14,19], "NACIONALIDAD": "ASMA"]

   NACIONALIDAD  EMBARAZO  DIABETES  EPOC  ASMA
4      MEXICANA        97         2     2     2
14     MEXICANA        97         2     2     2
19     MEXICANA        97         2     2     2

In [ ]:
#Filtrado 
df[(df['SEXO']=='MUJER')]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de México,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de México,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2,MUJER,Yucatán,2020-03-31 00:00:00,97,2,26,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
187,1,MUJER,Guanajuato,2020-02-26 00:00:00,97,99,29,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
188,2,MUJER,Nuevo León,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7

In [ ]:
#Filtrado 
#Nos traemos iun rango de elemntos pero solo los que estan dentro de la igualdad
df[(df['SEXO']=='MUJER')]
df['SEXO']=='MUJER'

0       True
1       True
2       True
3      False
4      False
       ...
195    False
196     True
197    False
198     True
199    False
Name: SEXO, Length: 200, dtype: bool

In [ ]:
#Filtrado
df [(df['SEXO']=='MUJER')]
dfm =(df['SEXO']=='MUJER')
dfm

0       True
1       True
2       True
3      False
4      False
       ...
195    False
196     True
197    False
198     True
199    False
Name: SEXO, Length: 200, dtype: bool

In [ ]:
df[dfm].count()

ORIGEN                 103
SEXO                   103
ENTIDAD                103
FECHA_INGRESO          103
INTUBADO               103
NEUMONIA               103
EDAD                   103
NACIONALIDAD           103
EMBARAZO               103
DIABETES               103
EPOC                   103
ASMA                   103
INMUSUPR               103
HIPERTENSION           103
CARDIOVASCULAR         103
OBESIDAD               103
RENAL_CRONICA          103
TABAQUISMO             103
RESULTADO_LAB          103
CLASIFICACION_FINAL    103
dtype: int64

In [ ]:
df[(df['SEXO']=='MUJER')&(df['EDAD']>=60)]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de México,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
20,1,MUJER,Michoacán,2020-03-30 00:00:00,2,2,71,MEXICANA,2,1,1,2,2,1,2,1,2,1,2,7
36,1,MUJER,Veracruz,2020-03-17 00:00:00,97,2,61,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
40,2,MUJER,Chiapas,2020-05-29 00:00:00,97,2,64,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
59,2,MUJER,Tamaulipas,2020-05-13 00:00:00,97,2,84,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
63,2,MUJER,San Luis Potosí,2020-03-31 00:00:00,97,2,85,MEXICANA,2,2,2,1,2,2,2,2,2,2,97,6
76,1,MUJER,Chiapas,2020-05-15 00:00:00,2,2,75,MEXICANA,2,2,1,2,2,2,2,1,2,2,1,3
80,1,MUJER,Veracruz,2020-01-17 00:00:00,97,99,85,MEXICANA,2,2,2,2,2,1,2,2,2,2,97,6
89,2,MUJER,Estado de México,2020-05-27 00:00:00,2,1,63,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
102,1,MUJER,Chihuahua,2020-04-24 00:00:00,2,1,77,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
108,1,MUJER,Chiapas,2020-07-01 00:00:00,2,1,64,MEXICANA,2,2,1,2,2,2,2,2,2,2,1,3
113,1,MUJER,Coahuila,2020-06-03 00:00:00,2,2,80,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
141,2,MUJER,Veracruz,2020-02-14 00:00:00,2,1,80,MEXICANA,2,2,1,2,2,1,2,2,2,2,2,7
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
151,1,MUJER,Sinaloa,2020-06-01 00:00:00,2,1,66,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
177,1,MUJER,Guanajuato,2020-05-27 00:00:00,97,2,86,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
181,1,MUJER,Ciudad de México,2020-05-21 00:00:00,2,1,82,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3

In [ ]:
df[(df['SEXO']=='MUJER')&(df['EDAD']>=60)] [['EDAD','ENTIDAD']]

     EDAD           ENTIDAD
0      68           Sinaloa
5      61           Jalisco
6      60  Ciudad de México
20     71         Michoacán
36     61          Veracruz
40     64           Chiapas
59     84        Tamaulipas
60     81          Guerrero
63     85   San Luis Potosí
76     75           Chiapas
80     85          Veracruz
89     63  Estado de México
102    77         Chihuahua
108    64           Chiapas
113    80          Coahuila
130    68           Jalisco
141    80          Veracruz
149    76          Guerrero
151    66           Sinaloa
177    86        Guanajuato
181    82  Ciudad de México

In [ ]:
#Tenemos varias opciones para poder trabajar con, null, vacio, o Na
df[(df.ENTIDAD.isin(['Jalisco','Guerrero']))]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
11,1,MUJER,Jalisco,2020-02-18 00:00:00,97,99,13,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
15,1,HOMBRE,Jalisco,2020-02-10 00:00:00,2,1,58,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
32,2,HOMBRE,Jalisco,2020-03-30 00:00:00,97,2,28,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
50,1,HOMBRE,Guerrero,2020-07-02 00:00:00,97,2,52,MEXICANA,97,1,2,2,2,1,2,2,2,2,1,3
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
65,1,MUJER,Guerrero,2020-03-31 00:00:00,97,2,39,MEXICANA,2,2,2,2,2,2,2,2,2,1,97,6
68,1,HOMBRE,Guerrero,2020-04-30 00:00:00,2,1,67,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
72,1,HOMBRE,Guerrero,2020-05-19 00:00:00,2,1,55,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
104,2,MUJER,Guerrero,2020-05-18 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
122,1,HOMBRE,Guerrero,2020-03-19 00:00:00,97,2,40,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
169,1,HOMBRE,Jalisco,2020-06-03 00:00:00,97,2,32,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
170,2,HOMBRE,Jalisco,2020-03-25 00:00:00,97,2,64,MEXICANA,97,1,2,2,2,1,2,1,2,2,1,3
182,2,MUJER,Jalisco,2020-03-26 00:00:00,97,2,51,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6

In [ ]:
df[(df.ENTIDAD.isin(['Jalisco','Guerrero']))].count()

ORIGEN                 16
SEXO                   16
ENTIDAD                16
FECHA_INGRESO          16
INTUBADO               16
NEUMONIA               16
EDAD                   16
NACIONALIDAD           16
EMBARAZO               16
DIABETES               16
EPOC                   16
ASMA                   16
INMUSUPR               16
HIPERTENSION           16
CARDIOVASCULAR         16
OBESIDAD               16
RENAL_CRONICA          16
TABAQUISMO             16
RESULTADO_LAB          16
CLASIFICACION_FINAL    16
dtype: int64

In [ ]:
df.isna()

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.EDAD.isna()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Name: EDAD, Length: 200, dtype: bool

In [ ]:
df[df.ENTIDAD.str.contains('México')]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
1,1,MUJER,Ciudad de México,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
4,2,HOMBRE,Ciudad de México,2020-06-08 00:00:00,97,2,43,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
6,1,MUJER,Ciudad de México,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
7,1,MUJER,Ciudad de México,2020-03-05 00:00:00,97,2,37,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
8,2,HOMBRE,Ciudad de México,2020-05-26 00:00:00,97,2,45,MEXICANA,97,2,2,2,2,2,2,2,2,1,1,3
13,2,MUJER,Estado de México,2020-05-20 00:00:00,97,2,30,MEXICANA,2,2,2,1,2,2,2,2,2,2,1,3
18,2,HOMBRE,Ciudad de México,2020-06-29 00:00:00,97,2,63,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
24,2,MUJER,Ciudad de México,2020-05-14 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
25,2,HOMBRE,Ciudad de México,2020-04-15 00:00:00,97,1,59,MEXICANA,97,2,2,2,2,2,2,2,2,1,1,3
26,2,MUJER,Estado de México,2020-04-01 00:00:00,97,2,25,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
29,2,MUJER,Estado de México,2020-05-16 00:00:00,97,2,20,MEXICANA,2,2,2,2,2,2,2,2,2,1,1,3
33,1,MUJER,Ciudad de México,2020-05-21 00:00:00,97,2,47,MEXICANA,98,2,2,2,2,2,2,2,2,2,1,3
34,1,HOMBRE,Ciudad de México,2020-05-05 00:00:00,2,1,47,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
35,2,MUJER,Ciudad de México,2020-06-17 00:00:00,97,2,32,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
41,2,HOMBRE,Estado de México,2020-06-22 00:00:00,97,2,29,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
44,2,HOMBRE,Ciudad de México,2020-05-29 00:00:00,97,2,42,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
45,2,MUJER,Estado de México,2020-05-12 00:00:00,97,2,48,MEXICANA,2,2,2,2,2,1,2,1,2,1,1,3
46,2,HOMBRE,Ciudad de México,2020-04-04 00:00:00,97,2,22,MEXICANA,97,2,2,2,2,2,2,2,2,1,4,5
52,2,MUJER,Ciudad de México,2020-07-07 00:00:00,97,2,29,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
53,2,HOMBRE,Ciudad de México,2020-04-30 00:00:00,97,2,29,MEXICANA,97,2,2,2,2,2,2,2,2,1,1,3
55,2,HOMBRE,Estado de México,2020-03-09 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,4,5
56,2,MUJER,Ciudad de México,2020-03-27 00:00:00,97,2,32,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
57,1,MUJER,Ciudad de México,2020-03-31 00:00:00,97,2,53,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
67,2,HOMBRE,Ciudad de México,2020-03-17 00:00:00,97,2,45,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
70,2,MUJER,Ciudad de México,2020-03-30 00:00:00,97,2,37,MEXICANA,2,2,2,2,2,2,2,2,2,2,4,5
73,2,MUJER,Ciudad de México,2020-05-20 00:00:00,2,1,58,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
82,1,HOMBRE,Estado de México,2020-06-24 00:00:00,2,2,29,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
87,2,MUJER,Ciudad de México,2020-01-29 00:00:00,2,2,40,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
89,2,MUJER,Estado de México,2020-05-27 00:00:00,2,1,63,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
98,1,MUJER,Ciudad de México,2020-06-28 00:00:00,97,2,40,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
99,1,MUJER,Estado de México,2020-06-16 00:00:00,2,1,58,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
106,2,MUJER,Estado de México,2020-06-09 00:00:00,97,2,43,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
110,1,HOMBRE,Estado de México,2020-01-20 00:00:00,2,1,31,MEXICANA,97,2,2,2,2,1,2,2,1,2,2,7
112,2,MUJER,Ciudad de México,2020-05-21 00:00:00,97,2,41,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
117,2,HOMBRE,Ciudad de México,2020-05-11 00:00:00,1,2,48,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
119,2,HOMBRE,Ciudad de México,2020-05-14 00:00:00,97,2,27,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
121,2,MUJER,Ciudad de México,2020-06-08 00:00:00,97,2,57,MEXICANA,2,1,2,2,2,2,2,1,2,2,1,3
123,2,HOMBRE,Ciudad de México,2020-05-19 00:00:00,97,1,59,MEXICANA,97,2,2,2,2,2,2,2,2,1,1,3
140,2,MUJER,Estado de México,2020-03-25 00:00:00,97,2,25,MEXICANA,1,2,2,2,2,2,2,2,2,2,2,7
143,1,HOMBRE,Ciudad de México,2020-01-31 00:00:00,97,99,37,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
145,2,HOMBRE,Ciudad de México,2020-07-04 00:00:00,1,1,77,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
146,1,HOMBRE,Ciudad de México,2020-06-28 00:00:00,2,2,52,MEXICANA,97,1,2,2,2,1,2,1,2,2,1,3
150,2,MUJER,Ciudad de México,2020-07-03 00:00:00,97,1,55,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
152,2,MUJER,Ciudad de México,2020-06-30 00:00:00,97,2,44,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
162,2,HOMBRE,Estado de México,2020-06-08 00:00:00,97,2,23,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
167,2,MUJER,Ciudad de México,2020-05-15 00:00:00,97,2,38,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
172,1,HOMBRE,Ciudad de México,2020-05-26 00:00:00,1,2,55,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
176,2,HOMBRE,Ciudad de México,2020-05-05 00:00:00,97,2,45,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
181,1,MUJER,Ciudad de México,2020-05-21 00:00:00,2,1,82,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
184,2,MUJER,Ciudad de México,2020-05-04 00:00:00,97,2,52,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
185,2,HOMBRE,Ciudad de México,2020-04-21 00:00:00,1,1,46,MEXICANA,97,2,2,2,2,2,2,1,2,2,1,3
192,2,HOMBRE,Ciudad de México,2020-03-25 00:00:00,97,2,41,MEXICANA,97,2,2,2,2,2,2,2,2,1,2,7

In [ ]:
#oRDENAR DE FORMA DESENDENTE!
df.sort_values(['ENTIDAD', 'EDAD'])

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
139,2,HOMBRE,Aguascalientes,2020-03-18 00:00:00,97,2,5,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
79,1,HOMBRE,Aguascalientes,2020-01-17 00:00:00,97,99,22,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
90,1,MUJER,Aguascalientes,2020-03-17 00:00:00,97,2,30,MEXICANA,98,2,2,2,2,2,2,2,2,2,97,6
128,1,HOMBRE,Aguascalientes,2020-01-22 00:00:00,97,99,55,MEXICANA,97,2,2,2,2,1,1,2,2,2,97,6
144,2,HOMBRE,Baja California,2020-03-27 00:00:00,97,2,1,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,1,MUJER,Yucatán,2020-06-29 00:00:00,97,2,47,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
131,1,HOMBRE,Zacatecas,2020-02-15 00:00:00,99,99,8,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
157,2,MUJER,Zacatecas,2020-03-25 00:00:00,97,2,26,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
39,2,HOMBRE,Zacatecas,2020-05-08 00:00:00,2,1,81,MEXICANA,97,2,2,2,2,2,1,2,2,2,1,3

In [ ]:
df.sort_values('EDAD' , ascending=False)

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
177,1,MUJER,Guanajuato,2020-05-27 00:00:00,97,2,86,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
63,2,MUJER,San Luis Potosí,2020-03-31 00:00:00,97,2,85,MEXICANA,2,2,2,1,2,2,2,2,2,2,97,6
183,2,HOMBRE,Tlaxcala,2020-04-01 00:00:00,1,1,85,MEXICANA,97,1,2,2,2,1,2,2,2,2,1,3
80,1,MUJER,Veracruz,2020-01-17 00:00:00,97,99,85,MEXICANA,2,2,2,2,2,1,2,2,2,2,97,6
59,2,MUJER,Tamaulipas,2020-05-13 00:00:00,97,2,84,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,HOMBRE,Aguascalientes,2020-03-18 00:00:00,97,2,5,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
125,2,HOMBRE,Nuevo León,2020-02-26 00:00:00,97,2,4,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
155,1,MUJER,Tabasco,2020-01-06 00:00:00,99,99,3,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
165,1,MUJER,Coahuila,2020-02-19 00:00:00,99,99,2,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
144,2,HOMBRE,Baja California,2020-03-27 00:00:00,97,2,1,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7

In [ ]:
df.groupby('SEXO').groups

{'HOMBRE': [3, 4, 8, 10, 14, 15, 16, 17, 18, 19, 21, 22, 25, 28, 30, 32, 34, 37, 38, 39, 41, 44, 46, 50, 51, 53, 55, 66, 67, 68, 69, 72, 74, 75, 79, 81, 82, 83, 85, 86, 88, 93, 94, 95, 100, 101, 103, 105, 107, 110, 117, 119, 120, 122, 123, 124, 125, 126, 128, 129, 131, 132, 133, 134, 135, 137, 139, 142, 143, 144, 145, 146, 148, 159, 160, 161, 162, 164, 166, 168, 169, 170, 172, 173, 175, 176, 183, 185, 189, 190, 191, 192, 193, 194, 195, 197, 199], 'MUJER': [0, 1, 2, 5, 6, 7, 9, 11, 12, 13, 20, 23, 24, 26, 27, 29, 31, 33, 35, 36, 40, 42, 43, 45, 47, 48, 49, 52, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 70, 71, 73, 76, 77, 78, 80, 84, 87, 89, 90, 91, 92, 96, 97, 98, 99, 102, 104, 106, 108, 109, 111, 112, 113, 114, 115, 116, 118, 121, 127, 130, 136, 138, 140, 141, 147, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 163, 165, 167, 171, 174, 177, 178, 179, 180, 181, 182, 184, 186, 187, ...]}

In [ ]:
df.groupby(['SEXO','EDAD']).groups

{('HOMBRE', 1): [144], ('HOMBRE', 4): [125], ('HOMBRE', 5): [51, 139, 164], ('HOMBRE', 8): [95, 131], ('HOMBRE', 10): [135], ('HOMBRE', 11): [175], ('HOMBRE', 13): [161], ('HOMBRE', 19): [105], ('HOMBRE', 21): [194], ('HOMBRE', 22): [46, 79, 103, 193], ('HOMBRE', 23): [162], ('HOMBRE', 24): [190], ('HOMBRE', 26): [83], ('HOMBRE', 27): [119, 160, 195], ('HOMBRE', 28): [16, 32], ('HOMBRE', 29): [41, 53, 82], ('HOMBRE', 30): [55, 100, 142, 197], ('HOMBRE', 31): [74, 110, 159], ('HOMBRE', 32): [75, 169], ('HOMBRE', 33): [132], ('HOMBRE', 34): [120], ('HOMBRE', 35): [69, 101], ('HOMBRE', 36): [86], ('HOMBRE', 37): [143], ('HOMBRE', 39): [148], ('HOMBRE', 40): [122], ('HOMBRE', 41): [124, 192, 199], ('HOMBRE', 42): [44, 168], ('HOMBRE', 43): [4], ('HOMBRE', 45): [8, 10, 67, 94, 176], ('HOMBRE', 46): [30, 185], ('HOMBRE', 47): [34], ('HOMBRE', 48): [3, 117, 134], ('HOMBRE', 49): [22], ('HOMBRE', 50): [21, 88, 107], ('HOMBRE', 51): [85], ('HOMBRE', 52): [50, 146, 189], ('HOMBRE', 53): [133], ('HOMBRE', 54): [137], ('HOMBRE', 55): [72, 128, 172], ('HOMBRE', 56): [37], ('HOMBRE', 58): [15, 129, 166], ('HOMBRE', 59): [14, 25, 123], ('HOMBRE', 60): [66, 81], ('HOMBRE', 61): [126], ('HOMBRE', 62): [38], ('HOMBRE', 63): [18], ('HOMBRE', 64): [170], ('HOMBRE', 65): [19], ('HOMBRE', 66): [173], ('HOMBRE', 67): [28, 68], ('HOMBRE', 69): [191], ('HOMBRE', 74): [17], ('HOMBRE', 77): [145], ('HOMBRE', 78): [93], ('HOMBRE', 81): [39], ('HOMBRE', 85): [183], ('MUJER', 2): [165], ('MUJER', 3): [155], ('MUJER', 13): [11], ('MUJER', 15): [116], ('MUJER', 20): [29, 42], ('MUJER', 22): [174], ('MUJER', 23): [78], ('MUJER', 24): [71, 153], ('MUJER', 25): [26, 64, 140], ('MUJER', 26): [23, 156, 157, 186], ('MUJER', 28): [77, 84, 104, 196], ('MUJER', 29): [52, 96, 136, 147, 187], ('MUJER', 30): [13, 43, 90, 109, 188], ('MUJER', 32): [35, 56, 58, 180], ('MUJER', 33): [1, 9, 24, 48], ('MUJER', 34): [31, 178], ('MUJER', 35): [127], ('MUJER', 36): [92], ('MUJER', 37): [7, 70, 115], ('MUJER', 38): [118, 167], ('MUJER', 39): [61, 65, 154], ('MUJER', 40): [87, 98], ('MUJER', 41): [112], ('MUJER', 42): [12, 62, 97], ('MUJER', 43): [91, 106], ('MUJER', 44): [138, 152], ('MUJER', 46): [54], ('MUJER', 47): [33, 111, 114], ('MUJER', 48): [45], ('MUJER', 50): [171], ('MUJER', 51): [158, 182], ('MUJER', 52): [2, 49, 184], ('MUJER', 53): [27, 57, 198], ('MUJER', 54): [179], ('MUJER', 55): [47, 150], ('MUJER', 56): [163], ('MUJER', 57): [121], ('MUJER', 58): [73, 99], ('MUJER', 60): [6], ('MUJER', 61): [5, 36], ('MUJER', 63): [89], ('MUJER', 64): [40, 108], ('MUJER', 66): [151], ...}

In [ ]:
df.groupby(['ENTIDAD','SEXO', 'EDAD']).groups

{('Aguascalientes', 'HOMBRE', 5): [139], ('Aguascalientes', 'HOMBRE', 22): [79], ('Aguascalientes', 'HOMBRE', 55): [128], ('Aguascalientes', 'MUJER', 30): [90], ('Baja California', 'HOMBRE', 1): [144], ('Baja California', 'HOMBRE', 61): [126], ('Baja California', 'MUJER', 34): [178], ('Baja California', 'MUJER', 42): [12], ('Baja California', 'MUJER', 44): [138], ('Campeche', 'HOMBRE', 49): [22], ('Chiapas', 'MUJER', 64): [40, 108], ('Chiapas', 'MUJER', 75): [76], ('Chihuahua', 'HOMBRE', 50): [21], ('Chihuahua', 'MUJER', 77): [102], ('Ciudad de México', 'HOMBRE', 22): [46], ('Ciudad de México', 'HOMBRE', 27): [119], ('Ciudad de México', 'HOMBRE', 29): [53], ('Ciudad de México', 'HOMBRE', 37): [143], ('Ciudad de México', 'HOMBRE', 41): [192], ('Ciudad de México', 'HOMBRE', 42): [44], ('Ciudad de México', 'HOMBRE', 43): [4], ('Ciudad de México', 'HOMBRE', 45): [8, 67, 176], ('Ciudad de México', 'HOMBRE', 46): [185], ('Ciudad de México', 'HOMBRE', 47): [34], ('Ciudad de México', 'HOMBRE', 48): [117], ('Ciudad de México', 'HOMBRE', 52): [146], ('Ciudad de México', 'HOMBRE', 55): [172], ('Ciudad de México', 'HOMBRE', 59): [25, 123], ('Ciudad de México', 'HOMBRE', 63): [18], ('Ciudad de México', 'HOMBRE', 77): [145], ('Ciudad de México', 'MUJER', 29): [52], ('Ciudad de México', 'MUJER', 32): [35, 56], ('Ciudad de México', 'MUJER', 33): [1, 24], ('Ciudad de México', 'MUJER', 37): [7, 70], ('Ciudad de México', 'MUJER', 38): [167], ('Ciudad de México', 'MUJER', 40): [87, 98], ('Ciudad de México', 'MUJER', 41): [112], ('Ciudad de México', 'MUJER', 44): [152], ('Ciudad de México', 'MUJER', 47): [33], ('Ciudad de México', 'MUJER', 52): [184], ('Ciudad de México', 'MUJER', 53): [57], ('Ciudad de México', 'MUJER', 55): [150], ('Ciudad de México', 'MUJER', 57): [121], ('Ciudad de México', 'MUJER', 58): [73], ('Ciudad de México', 'MUJER', 60): [6], ('Ciudad de México', 'MUJER', 82): [181], ('Coahuila', 'MUJER', 2): [165], ('Coahuila', 'MUJER', 39): [61], ('Coahuila', 'MUJER', 80): [113], ('Colima', 'HOMBRE', 34): [120], ('Colima', 'MUJER', 24): [71], ('Colima', 'MUJER', 43): [91], ('Durango', 'HOMBRE', 65): [19], ('Estado de México', 'HOMBRE', 23): [162], ('Estado de México', 'HOMBRE', 29): [41, 82], ('Estado de México', 'HOMBRE', 30): [55], ('Estado de México', 'HOMBRE', 31): [110], ('Estado de México', 'MUJER', 20): [29], ('Estado de México', 'MUJER', 25): [26, 140], ('Estado de México', 'MUJER', 30): [13], ('Estado de México', 'MUJER', 43): [106], ('Estado de México', 'MUJER', 48): [45], ('Estado de México', 'MUJER', 58): [99], ('Estado de México', 'MUJER', 63): [89], ('Guanajuato', 'HOMBRE', 5): [164], ('Guanajuato', 'HOMBRE', 11): [175], ('Guanajuato', 'HOMBRE', 21): [194], ('Guanajuato', 'HOMBRE', 22): [193], ('Guanajuato', 'HOMBRE', 33): [132], ('Guanajuato', 'HOMBRE', 36): [86], ('Guanajuato', 'HOMBRE', 48): [3], ('Guanajuato', 'HOMBRE', 53): [133], ('Guanajuato', 'MUJER', 15): [116], ('Guanajuato', 'MUJER', 29): [147, 187], ('Guanajuato', 'MUJER', 34): [31], ('Guanajuato', 'MUJER', 36): [92], ('Guanajuato', 'MUJER', 37): [115], ('Guanajuato', 'MUJER', 53): [27], ('Guanajuato', 'MUJER', 86): [177], ('Guerrero', 'HOMBRE', 40): [122], ('Guerrero', 'HOMBRE', 52): [50], ('Guerrero', 'HOMBRE', 55): [72], ('Guerrero', 'HOMBRE', 67): [68], ('Guerrero', 'MUJER', 28): [104], ('Guerrero', 'MUJER', 39): [65], ('Guerrero', 'MUJER', 76): [149], ('Guerrero', 'MUJER', 81): [60], ('Hidalgo', 'HOMBRE', 42): [168], ('Hidalgo', 'MUJER', 46): [54], ('Jalisco', 'HOMBRE', 28): [32], ('Jalisco', 'HOMBRE', 32): [169], ('Jalisco', 'HOMBRE', 58): [15], ('Jalisco', 'HOMBRE', 64): [170], ('Jalisco', 'MUJER', 13): [11], ('Jalisco', 'MUJER', 51): [182], ('Jalisco', 'MUJER', 61): [5], ('Jalisco', 'MUJER', 68): [130], ('Michoacán', 'MUJER', 22): [174], ('Michoacán', 'MUJER', 50): [171], ('Michoacán', 'MUJER', 71): [20], ...}

In [ ]:
df.groupby('SEXO').get_group('MUJER')

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de México,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de México,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2,MUJER,Yucatán,2020-03-31 00:00:00,97,2,26,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
187,1,MUJER,Guanajuato,2020-02-26 00:00:00,97,99,29,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
188,2,MUJER,Nuevo León,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7

In [ ]:
df.groupby(['ENTIDAD', 'SEXO']).get_group(('Michoacán','MUJER'))

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
20,1,MUJER,Michoacán,2020-03-30 00:00:00,2,2,71,MEXICANA,2,1,1,2,2,1,2,1,2,1,2,7
171,2,MUJER,Michoacán,2020-06-27 00:00:00,97,2,50,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
174,1,MUJER,Michoacán,2020-01-24 00:00:00,97,99,22,MEXICANA,98,2,2,2,2,2,2,2,2,2,97,6

In [ ]:
df.groupby('SEXO').count()

,ORIGEN,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
SEXO,,,,,,,,,,,,,,,,,,,
HOMBRE,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97,97
MUJER,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103

In [ ]:
df.groupby(['ENTIDAD', 'SEXO']).EDAD.count()

ENTIDAD           SEXO
Aguascalientes    HOMBRE     3
                  MUJER      1
Baja California   HOMBRE     2
                  MUJER      3
Campeche          HOMBRE     1
Chiapas           MUJER      3
Chihuahua         HOMBRE     1
                  MUJER      1
Ciudad de México  HOMBRE    19
                  MUJER     20
Coahuila          MUJER      3
Colima            HOMBRE     1
                  MUJER      2
Durango           HOMBRE     1
Estado de México  HOMBRE     5
                  MUJER      8
Guanajuato        HOMBRE     8
                  MUJER      8
Guerrero          HOMBRE     4
                  MUJER      4
Hidalgo           HOMBRE     1
                  MUJER      1
Jalisco           HOMBRE     4
                  MUJER      4
Michoacán         MUJER      3
Morelos           HOMBRE     1
Nayarit           HOMBRE     2
                  MUJER      1
Nuevo León        HOMBRE     4
                  MUJER      4
Oaxaca            HOMBRE     3
                  MUJER      2
Puebla            HOMBRE     1
                  MUJER      5
Querétaro         HOMBRE     2
                  MUJER      1
Quintana Roo      HOMBRE     1
                  MUJER      1
San Luis Potosí   HOMBRE     2
                  MUJER      2
Sinaloa           HOMBRE     7
                  MUJER      3
Sonora            HOMBRE     3
                  MUJER      3
Tabasco           HOMBRE     5
                  MUJER      4
Tamaulipas        HOMBRE     2
                  MUJER      3
Tlaxcala          HOMBRE     2
                  MUJER      1
Veracruz          HOMBRE    10
                  MUJER      7
Yucatán           MUJER      3
Zacatecas         HOMBRE     2
                  MUJER      2
Name: EDAD, dtype: int64

In [ ]:
df.groupby(['ENTIDAD','SEXO']).EDAD.mean()

ENTIDAD           SEXO
Aguascalientes    HOMBRE    27.333333
                  MUJER     30.000000
Baja California   HOMBRE    31.000000
                  MUJER     40.000000
Campeche          HOMBRE    49.000000
Chiapas           MUJER     67.666667
Chihuahua         HOMBRE    50.000000
                  MUJER     77.000000
Ciudad de México  HOMBRE    46.421053
                  MUJER     45.000000
Coahuila          MUJER     40.333333
Colima            HOMBRE    34.000000
                  MUJER     33.500000
Durango           HOMBRE    65.000000
Estado de México  HOMBRE    28.400000
                  MUJER     39.000000
Guanajuato        HOMBRE    28.625000
                  MUJER     39.875000
Guerrero          HOMBRE    53.500000
                  MUJER     56.000000
Hidalgo           HOMBRE    42.000000
                  MUJER     46.000000
Jalisco           HOMBRE    45.500000
                  MUJER     48.250000
Michoacán         MUJER     47.666667
Morelos           HOMBRE    60.000000
Nayarit           HOMBRE    35.000000
                  MUJER     28.000000
Nuevo León        HOMBRE    29.250000
                  MUJER     32.000000
Oaxaca            HOMBRE    45.000000
                  MUJER     31.000000
Puebla            HOMBRE    58.000000
                  MUJER     39.800000
Querétaro         HOMBRE    64.000000
                  MUJER     29.000000
Quintana Roo      HOMBRE    41.000000
                  MUJER     20.000000
San Luis Potosí   HOMBRE    27.000000
                  MUJER     59.000000
Sinaloa           HOMBRE    42.285714
                  MUJER     54.666667
Sonora            HOMBRE    36.666667
                  MUJER     39.000000
Tabasco           HOMBRE    47.200000
                  MUJER     27.500000
Tamaulipas        HOMBRE    24.500000
                  MUJER     51.333333
Tlaxcala          HOMBRE    56.000000
                  MUJER     32.000000
Veracruz          HOMBRE    41.500000
                  MUJER     58.714286
Yucatán           MUJER     34.333333
Zacatecas         HOMBRE    44.500000
                  MUJER     39.000000
Name: EDAD, dtype: float64

In [ ]:
df['EDAD']*12

0      816
1      396
2      624
3      576
4      516
      ...
195    324
196    336
197    360
198    636
199    492
Name: EDAD, Length: 200, dtype: int64

In [ ]:
def meses (m):
  return m*12

df['EDAD'].apply(meses)

0      816
1      396
2      624
3      576
4      516
      ...
195    324
196    336
197    360
198    636
199    492
Name: EDAD, Length: 200, dtype: int64

In [ ]:
df['EDAD_,ESE']=df['EDAD'].apply(meses)
df.head()

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,...,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL,"EDAD_,ESE"
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,...,2,2,1,2,1,2,2,1,3,816
1,1,MUJER,Ciudad de México,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,...,2,2,2,2,2,2,2,1,3,396
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,...,2,2,1,2,2,2,1,2,7,624
3,1,HOMBRE,Guanajuato,2020-06-24 00:00:00,97,2,48,MEXICANA,97,2,...,2,2,1,2,2,2,2,1,3,576
4,2,HOMBRE,Ciudad de México,2020-06-08 00:00:00,97,2,43,MEXICANA,97,2,...,2,2,2,2,2,2,2,1,3,516

In [ ]:
pd.unique(df.SEXO)

array(['MUJER', 'HOMBRE'], dtype=object)

In [ ]:
pd.unique(df['EPOC'])

array([ 1,  2, 98])

In [ ]:
pd.unique(df['ENTIDAD'])

array(['Sinaloa', 'Ciudad de México', 'Zacatecas', 'Guanajuato',
       'Jalisco', 'San Luis Potosí', 'Tabasco', 'Baja California',
       'Estado de México', 'Querétaro', 'Veracruz', 'Durango',
       'Michoacán', 'Chihuahua', 'Campeche', 'Nuevo León', 'Chiapas',
       'Quintana Roo', 'Puebla', 'Guerrero', 'Hidalgo', 'Tlaxcala',
       'Tamaulipas', 'Coahuila', 'Nayarit', 'Sonora', 'Colima',
       'Aguascalientes', 'Morelos', 'Oaxaca', 'Yucatán'], dtype=object)

In [ ]:
print("MINIMO ", df['EDAD'].min())
print("MAXIMO ", df.EDAD.max())
print("PROMEDIO ", df['EDAD'].mean())
print("CONTEO ", df['EDAD'].count())
print("SUMA ", df['EDAD'].sum())
print("DESVIACION ", df['EDAD'].std())

MINIMO  1
MAXIMO  86
PROMEDIO  42.555
CONTEO  200
SUMA  8511
DESVIACION  18.96192892993006